@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
//zmien to na .razor
<head>
	<link rel="stylesheet" href="/css/AddHomeStyle.css" />
</head>

<div id="UserData-Container">
	<h1 class="UserData" id="UserName">Your account name: <strong>@ViewBag.UserName</strong></h1>
	<br />
	<h2><strong>Change Password</strong></h2>
	<br />
	@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
	{

		<span> Current password<input id="currentPassword" name="currentPassword" type="password" /></span>
		<br />
		<span> New password<input id="password" name="password" type="password" /></span>
		<br />
		<button id="ChangePassword-button" type="submit">Change Password</button>
		<p id="errormessage"></p>
	}

	
	<form action="/Account/Logout" method="post">
		<button id="LogOut-buttton" type="submit" >LogOut</button>
	</form>
</div>
<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		document.getElementById("changePasswordForm").addEventListener('submit', Validation);
	});
	async function CheckPassword(password) {
		const response = await fetch(`/Account/CheckPassword?password=${password}`);
	

		if (!response.ok) {
			throw new Error(`Server responded with status ${response.status}`);
		}
		const isValid = await response.json();
		
		return isValid;
	
	}
	async function Validation(event)
	{
		event.preventDefault();
		var currentPassword = document.getElementById("currentPassword").value;
		var newPassword = document.getElementById("password").value;
		if (currentPassword.trim() != "" && newPassword.trim() != "") {
			const isValid = await CheckPassword(currentPassword);
			if (isValid) {
				const response = await fetch(`/Account/ChangePassword?currentPassword=${currentPassword}&newPassword=${newPassword}`);
				
				if (response.ok) {
				
					console.log("Password changed successfully.");
					location.reload();
					
				} else {
					
					console.log("Failed to change password.");
				}
			}
			else
			{
				document.getElementById("errormessage").innerHTML = "You entered thewrong password";
			}
			
		}
		else
		{
			document.getElementById("errormessage").innerHTML = "You didnt entered anything";
		}
	}
</script>