@model PortfolioApp.Models.RegisterModel
@using (Html.BeginForm("register", "User", FormMethod.Post))
{
    <div class="logincontainer">
        @Html.ValidationSummary()
        <p class="textarealogin">podaj nazwe uzytkownika: <br> @Html.TextBoxFor(x => x.UserName)</p>

        <p class="textarealogin"> podaj adres email:<br> @Html.TextBoxFor(x => x.EmailAdress)</p>

        <p class="textarealogin"> podaj haslo:<br> @Html.PasswordFor(x => x.Password)</p>
        <p><button class="button" type="submit">Zarejestruj</button></p>
    </div>

}