
<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
           Home
        </NavLink>
    </li>
 
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="YourAssets">
            Your Assets
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="YourTransactions">
            Your Transactions
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="Account">
            Your Account
        </NavLink>
    </li>
</ul>