* {
    color: white
}
body {
    background-image: linear-gradient(to top,rgb(0,13,26),rgb(0,64,128));
    color: white;
}
button {
    background-color: rgba(0,64,128,1);
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    width: 300px;
}
input, input:focus {
    outline: none;
    background-color: rgba(0,64,128,1);
    border-radius: 20px;
    margin: 10px;
    border: none;
    padding: 5px;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none
}
#LogOut-buttton{
    margin:20px;
}