*{
    color:white
}
select {
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    border: none;
    background-color: rgba(0,64,128,1);
    width: 250px;
    text-align:center;
}
.option {
    background-color: rgba(0,64,128,1);
    border-radius: 20px;
    border: none;
   
}
body {
    background-image: linear-gradient(to top,rgb(0,13,26),rgb(0,64,128));
 
    color: white;
}
input, input:focus {
    outline: none;
    background-color: rgba(0,64,128,1);
    border-radius: 20px;
    margin: 10px;
    border: none;
    padding: 5px;
    text-align:center;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none
 }
button {
    background-color: rgba(0,64,128,1);
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    width: 300px;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: rgb(0,51,102);
    border-radius: 15px;
}
#form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
}
#Assets-Container, #AssetSelect {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#AddMessage {
    margin: 50px;
}
.Home-Buttons{
 margin-left:5%;
 margin-top:5%;
}

#Home-Select {
    float: right;
    margin-left: 5%;
    margin-top: 5%;
}
#Chart-container {
    width:100%;
    height:600px;
  
}
#AssetValueChange {
    font-weight:bold;
    margin:3%;
    text-align:center;
}
.Asset {
    font-weight: bold;
}