* {
    color: white
}
body {
    background-image: linear-gradient(to top,rgb(0,13,26),rgb(0,64,128));
    color: white;
}
select {
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    border: none;
    background-color: rgba(0,64,128,1);
    width: 250px;
    text-align: center;
}
input, input:focus {
    outline: none;
    background-color: rgba(0,64,128,1);
    border-radius: 20px;
    margin: 10px;
    border: none;
    padding: 5px;
    text-align: center;
}
button {
    background-color: rgba(0,64,128,1);
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    width: 300px;
}
#AddingTransaction {
    width: 50%;
    float:left;
}
#UserAssets {
    background-color: rgba(0,64,128,1);
    border-radius: 20px;
    padding: 10px;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
#Assets-Container {
    overflow: auto;
    max-height: 200px;
}
#Transaction-container {
    background-color: rgba(0,64,128,1);
    border-radius: 20px;
    clear: both;
    overflow: auto;
    max-height: 550px;
}
.TransactionTable {
    width: 100%;
    border-collapse: collapse;
}

.TransactionTable tr, .TransactionTable td {
    text-align: center;
 }
::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: rgb(0,51,102);
    border-radius: 15px;
}
