@page "/test"
@inject IJSRuntime JSRuntime

<h3>Test Page</h3>

<!-- Correct script reference -->
<script src="js/HomeScript.js"></script>

<button @onclick="TEST">Click me</button>

@code {
    private void TEST()//to sie nie wykonuje
    {
    
        JSRuntime.InvokeVoidAsync("test" ,"x");
    }
}
